---
layout: default
title: Авиаперевозки
image: /assets/img/air1.jpg
ref: air
lang: RU
---
{% include headerru.html %}

<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/air1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/air2.jpg" alt="">
                    </div>
                    
            
                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>
                        
                        <li><span>Сеть:</span>Наша сеть простирается по всему миру, что делает нас лучшим выбором для удовлетворения ваших потребностей в грузоперевозках. Если вам нужна доставка «от двери до двери», «от аэропорта до аэропорта», или комбинированная перевозка, мы обо всем позаботимся за вас. </li>
                    </ul>
                    </div>
            </div>
            <div class="col-md-7">
                <div class="project-description">
                    <div class="our-mission-list">
                        <h4>Преимущества:</h4>
                        <ul>
                               <li>Быстрая доставка (обычно от 24 до 48 часов))</li>
    <li>Оперативное выполнение заказа</li>
    <li>Сокращенное время выполнения заказа поставщиком </li>
    <li>Улучшенные уровни обслуживания</li>
                        </ul>
                    </div>
                    <p>
Когда срок доставки вашего груза имеет решающее значение, вашим лучшим выбором являются наши авиаперевозки. Мы всегда поддерживаем наших клиентов в организации любого чартерного рейса и запрошенной отправки груза. Мы гордимся тем, что предлагаем быстрое и эффективное обслуживание, опирающееся на основу, которую мы заложили в отрасли авиаперевозок. Мы гарантируем надежность нашего сервиса, пунктуальность, оперативность и заботу о сохранности перевозимого груза. Наше партнерство с поставщиками услуг и сотрудничество с крупными авиакомпаниями позволяет нам предлагать услуги, которыми мы гордимся.</p>
                    <div class="our-mission-list">
                        <h4>Мы предлагаем:</h4>
                        <ul>
                              <li> Импорт по всему миру</li>
    <li>Консолидацию экспорта</li>
    <li>Забор груза со склада</li>
    <li>Экспедирование </li>
    <li> Работу с поставщиками</li>
    <li>Экспортную таможенную очистку в стране происхождения</li>
    <li>Импортную таможенную очистку груза в порту выгрузки</li>
    <li> Специалистов по документации</li>
    <li>Безопасную обработку генеральных грузов </li>
    <li>Перевозку скоропортящихся грузов </li>
    <li> Доставку «от двери до двери» </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footerru.html %}
