---
layout: default
title: Морские перевозки
image: /assets/img/ocean1.jpg
ref: mairne
lang: RU
---
{% include headerru.html %}

<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/ocean1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/ocean2.jpg" alt="">
                    </div>
                    
            
                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>
                        
                        <li><span>Морские грузовые перевозки:</span>Морские грузовые перевозки включают перевозки FCL (полная загрузка контейнера), LCL (меньше, чем загрузка контейнера) и FCX (полная упаковка контейнера). В PORTGATE мы установили связь со всеми основными океанскими лайнерами, чтобы иметь возможность предложить широкий спектр услуг по импорту и экспорту морских перевозок, которые смогут удовлетворить потребности наших клиентов.</li>
                     
                    </ul>
                    </div>
            </div>
            <div class="col-md-7">
                <div class="project-description">
                    <div class="our-mission-list">
                        <h4>Преимущества:</h4>
                        <ul>
                            <li>Идеально подходит для перевозки тяжелых и крупногабаритных грузов
                            </li>
                            <li> Подходит для продуктов с длительным сроком поставки
                            </li>
                            <li>  Довольно дешевый транспортный канал
                            </li>
                        
                        </ul>
                    </div>
          
                    <p>Морские перевозки являются наиболее предпочтительной формой грузоперевозок для тех, кто ищет эффективные с точки зрения затрат решения.PORTGATE действует через свои представительства во всех основных морских портах Черного и Каспийского моря. В сотрудничестве с нашими международными агентами мы тщательно прорабатываем каждый этап морской транспортной цепочки, от погрузки до разгрузки, до таможенного оформления и других морских услуг. С нашей глобальной сетью партнеров мы можем удовлетворить конкретные потребности наших клиентов в перевозках из и в любую точку мира. Мы можем напрямую связаться с вашими поставщиками и избавить вас от стресса. А при необходимости мы также можем объединить ваш груз от нескольких поставщиков до того, как он покинет порт происхождения.
</p>
                    <div class="our-mission-list">
                        <h4>Наша команда морских перевозок предлагает:</h4>
                        <ul>
                            <li>Грузоперевозки всеми видами контейнеров
                            </li>
                            <li>Оптимальную мультимодальную перевозку
                            </li>
                            <li>Складские услуги
                            </li>
                            <li>Транзитные грузы в портах Черного и Каспийского морей
                            </li>
                            <li>Полное наблюдение за передвижением груза и информация об отслеживании
                            </li>
                            <li>Услуги по таможенной очистки
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footerru.html %}