---
layout: default
title: Проектные перевозки
image: /assets/img/project1.jpg
ref: project
lang: RU
---
{% include headerru.html %}

<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/project1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/project2.jpg" alt="">
                    </div>


                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>

                        <li><span>Виды перевозимого груза:</span> </li>    
    <li>Различные прокатные и путевые машины, включая ролкерные перевозки </li>    
    <li>Тяжеловесный груз </li>    
    <li>Крупногабаритный груз</li>    
    <li>Опасный груз </li>    
   <li>Металлоконструкции и оборудование</li>    
   <li>Унифицированный груз</li>    
   <li>Навалочные и насыпные грузы</li>    
    <li>Контейнеры-цистерны и гибкие контейнеры</li>    
    <li>Сложные объекты (заводы, объекты нефтегазового / топливно-энергетического комплекса)</li>
                    </ul>
                    </div>
            </div>
            <div class="col-md-7">
                <div class="project-description">

                    <p>В PORTGATE мы понимаем, что каждый крупный проект важен. Он отличается от классических транспортных услуг, тем что часто груз не подходит для перевозки в транспортных контейнерах, вагонах и прицепах стандартных размеров. Эти товары обычно перевозятся как отдельные  части из-за их крупногабаритных размеров и избыточного веса. Транспортировка крупномасштабных проектов требует опытных и компетентных сотрудников, готовых исследовать все возможности, проанализировать возможные трудности и оперативно реагировать на критические ситуации. PORTGATE использует функциональные, практичные и надежные логистические принципы при обращении с крупногабаритным и тяжеловесным грузом. Мы всегда будем гарантировать гибкую систему транспортного обслуживания и практических решений.
                        У нас есть опыт работы с грузами, требующими особого внимания, такими как промышленное, строительное, горное и другое оборудование. Ролкерные перевозки для такой продукции как автомобили, являются еще одной областью, в которой мы можем предоставить вам индивидуальный подход. Мы позаботимся о любых дополнительных услугах, таких как специальные краны и транспорт, чтобы гарантировать, что ваш груз загружен и выгружен без каких-либо проблем.
                        
</p>
                    <div class="our-mission-list">
                        <h4>Наши услуги проектной логистики включают:</h4>
                        <ul>

    <li>Консультирование по вопросам организации грузоперевозок</li>
    <li>Бюджет и планирование проектной логистики</li>
    <li>Описание проектного потока</li>
    <li>Контроль груза во время погрузки, разгрузки и в пути</li>
    <li>Чартер по океану и воздуху</li>
    <li>Консолидацию, упаковку и упаковку груза в ящики</li>
    <li>Управление закупками и отслеживание грузов/li>
    <li>Транспортное страхование</li>
    <li>Перевозку крупногабаритных грузов</li>
    <li>Избыточный вес</li>
    <li>Баржевые услуги </li>
    <li>Движение модуля </li>
    <li>Осмотры перед отправкой</li>
    <li>Таможенную и товаросопроводительную документацию</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footerru.html %}