---
layout: default
title: Железнодорожные перевозки
image: /assets/img/rail1.jpg
ref: rail
lang: RU
---
{% include headerru.html %}
<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/rail1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/rail2.jpg" alt="">
                    </div>
                    
            
                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>
                        
                        <li><span>Виды железнодорожных транспортных средств::</span></li>
                       <li>Вагоны и полувагоны</li>
                        <li>Контейнеры различных размеров и вместимости</li>
<li>Цистерны</li>
<li>Бункерные вагоныs</li>
                    </ul>
                    </div>

 
            </div>
            <div class="col-md-7">
                <div class="project-description">
                    <div class="our-mission-list">
                        <h4>Преимущества:</h4>
                        <ul>
                            <li>Грузоподъемность
                            </li>
                            <li>Эффективность затрат
                            </li>
                            <li>Безопасность
                            </li>             
                <li>Надежность
                            </li>                 
                        </ul>
                    </div>
                    <p>ООО Portagte имеет более чем 20-летний опыт работы в области железнодорожных грузоперевозок как на местном уровне (в пределах коридора ТРАСЕКА), так и на международном уровне (из / в страны СНГ). Мы своевременно и профессионально удовлетворяем все самые сложные требования наших клиентов по железнодорожным и интермодальным перевозкам. Мы также выполняем сложные заказы, в том числе связанные с доставкой опасных грузов на большие расстояния. </p>
                    <div class="our-mission-list">
                        <h4>Железнодорожные услуги:</h4>
                        <ul>
                               <li>Расчет железнодорожного тарифа </li>
    <li>Подготовка вагонов для дальнейших маневровых работ в портах, терминалах или отводных путях для погрузочно-разгрузочных работ</li>
    <li>Формальности по таможенной очистке </li>
    <li>Направления из / в страны СНГ </li>
    <li>Перевозка обычных грузов генеральными и модифицированными ж / д вагонами  </li>
    <li>Перевозка морского контейнера на ж / д платформах  </li>
    <li>Перевозка груза с температурным режимом </li>
    <li>Железнодорожные перевозки цистерн  </li>
    <li>Обслуживание в ж / д филиалах в пунктах отправления и назначения</li>
    <li>Хранение и складирование </li>
    <li>Загрузка -Разгрузка и доставка «от двери до двери»/li>
    <li>Аренда вагонов и локомотивов</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footerru.html %}