---
layout: default
title: Rail Transportation
image: /assets/img/rail1.jpg
ref: rail
lang: EN
---
{% include header.html %}
<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/rail1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/rail2.jpg" alt="">
                    </div>
                    
            
                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>
                        
                        <li><span>Types of rail vehicles:</span></li>
                       <li> Boxcars and gondola cars</li>
                        <li>Various  size and capacity containers</li>
<li>Tank wagons</li>
<li>Hopper cars</li>
                    </ul>
                    </div>

 
            </div>
            <div class="col-md-7">
                <div class="project-description">
                    <div class="our-mission-list">
                        <h4>Advantages:</h4>
                        <ul>
                            <li>Capacity
                            </li>
                            <li>Cost effectiveness
                            </li>
                            <li>Safety
                            </li>             
                <li>Reliability
                            </li>                 
                        </ul>
                    </div>
                    <p>  Portgate LLC has over 20 years of experience in the field of railroad cargo transportation both locally (within the TRACECA corridor) and internationally (from/to CIS countries). We respond timely and professionally to all complicated railway and intermodal transportation requirements of our customers. We also fulfill complicated orders, including those related to the delivery of dangerous cargoes at a greater distance. 
</p>
                    <div class="our-mission-list">
                        <h4>Rail freight service shortlist</h4>
                        <ul>
                               <li>Railway tariff calculation </li>
    <li>Bringing up wagons for further shunting in Ports, terminals or spur lines for loading/unloading operations </li>
    <li>Custom clearance formalities </li>
    <li>Destinations From/To CIS countries </li>
    <li>Transportation of conventional cargo by general and modified r/wagons  </li>
    <li>Transportation of Sea Container on r/w platforms  </li>
    <li>Railage of temperature maintained cargo  </li>
    <li>Railage of Tank containers  </li>
    <li>Handling at r/w branches at origin and destinations  </li>
    <li>Storage and warehousing  </li>
    <li>Loading -Unloading and door delivery  </li>
    <li>Renting of wagons and locomotives </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footer.html %}