---
layout: default
title: Дорожные перевозки
image: /assets/img/road1.jpg
ref: road
lang: RU
---
{% include headerru.html %}

<!-- start Project Details section -->
<section class="project-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-gallery-slider">
                    <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/road1.jpg" alt="">
                    </div>
                     <div class="project-single-image">
                        <img src="{{site.baseurl}}/assets/img/road2.jpg" alt="">
                    </div>
                    
            
                </div>
            </div>
            <div class="col-md-5">
                <div class="project-details">
                    <h4 class="project-heading">{{page.title}}</h4>
                    <ul>
                        
                        <li><span>LTL - меньше, чем грузовик:</span> Отдел LTL Portagte управляет складами в ЕС (Прага, Ульм - склад с контролируемой температурой) и Турции (Стамбул). Сбор грузов со всей Европы на наши склады позволяет нам предлагать быстрые сроки транзита и конкурентоспособные цены. Сервис отслеживает ваш груз от двери до двери и мгновенно реагирует на любые препятствия, с которыми сталкивается транспорт.</li>
                        <li><span>FTL - Полная загрузка: </span>Для удовлетворения потребностей наших клиентов Portgate предлагает оптимальные решения
                            для любого типа груза с использованием различных типов грузовых автомобилей: стандарты (82, 86, 90, 92), джамбо фургоны, мега универсал, холодильники, Изотермы, Низкорамные платформы, Контейнеровозы, сцепка и мега автоприцепы.</li>
                    </ul>
                    </div>
            </div>
            <div class="col-md-7">
                <div class="project-description">
                    <div class="our-mission-list">
                        <h4>Преимущества:</h4>
                        <ul>
                            <li>Доставка от двери до двери
                            </li>
                            <li>Эффективные с точки зрения затрат услуги
                            </li>
                            <li>FБыстрая доставка
                            </li>
                            <li>Легкое отслеживание местоположения
                            </li>
                            <li>Лучший выбор для скоропортящихся продуктов
                            </li>
                            <li>Связь с водителем
                            </li>
                        </ul>
                    </div>
                    <p>ООО Portgate предлагает комплексные логистические решения для автоперевозок, ориентированные на потребности клиентов. Мы доставим ваш груз куда бы не было нужно по маршруту ТРАСЕКА, который в основном охватывает Кавказский регион, Центральную Азию и страны СНГ. Компании PORTGATE удалось значительно повысить эффективность и прибыльность, используя растущие темпы грузоперевозок в этом регионе. Флот Portgate насчитывает 4 авторефрижератора, 1 автоцистерну и 2 стандартных прицепа. Более 300 автомобилей, принадлежащих подрядчикам, также находятся в распоряжении компании.</p>
                    <div class="our-mission-list">
                        <h4>Список услуг по автоперевозкам:</h4>
                        <ul>
                            <li>Перевозка генеральных, фармацевтических, ADR и акцизных грузов
                            </li>
                            <li>Контейнерные автомобильные перевозки
                            </li>
                            <li>Доступны навесные дизельные генераторы GENSET для перевозки рефрижераторных контейнеров 
                            </li>
                            <li>Профессиональная команда с многолетним опытом работы
                            </li>
                            <li>Таможенно-брокерские услуги и обработка документов
                            </li>
                            <li>Складские услуги
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Project Details section -->
{% include footerru.html %}