<!-- start brand slider -->
<div class="brand-slider" style="background-image: url({{site.baseurl}}/assets/img/yellow-rake.png)">
    <div class="container">
        <div class="row brand-slider-active">
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/1.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/2.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/3.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/4.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/5.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/6.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/7.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                    <img src="{{site.baseurl}}/assets/img/8.png" alt="">
                </div>
                <div class="single-brand col-md-2 text-center">
                        <img src="{{site.baseurl}}/assets/img/9.png" alt="">
                    </div>
                    <div class="single-brand col-md-2 text-center">
                            <img src="{{site.baseurl}}/assets/img/10.png" alt="">
                        </div>
                        <div class="single-brand col-md-2 text-center">
                                <img src="{{site.baseurl}}/assets/img/11.png" alt="">
                            </div>
                            <div class="single-brand col-md-2 text-center">
                                    <img src="{{site.baseurl}}/assets/img/12.png" alt="">
                                </div>
                                <div class="single-brand col-md-2 text-center">
                                        <img src="{{site.baseurl}}/assets/img/13.png" alt="">
                                    </div>
                                    <div class="single-brand col-md-2 text-center">
                                            <img src="{{site.baseurl}}/assets/img/14.png" alt="">
                                        </div>
                                        <div class="single-brand col-md-2 text-center">
                                                <img src="{{site.baseurl}}/assets/img/15.png" alt="">
                                            </div>
                                            <div class="single-brand col-md-2 text-center">
                                                    <img src="{{site.baseurl}}/assets/img/16.png" alt="">
                                                </div>
                                                    <div class="single-brand col-md-2 text-center">
                                                            <img src="{{site.baseurl}}/assets/img/17.png" alt="">
                                                        </div>
                                                      
        </div>
    </div>
</div>
<!-- end of brand slider -->