    <!-- start footer section -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">О КОМПАНИИ</h2>
                        <p>С 1999 года PORTGATE осуществляет все виды международных грузоперевозок преимущественно в Кавказском регионе, Центральной Азии и странах СНГ. Большинство перевозок осуществляются через коридор ТРАСЕКА.</p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h2 class="widget-title">ССЫЛКИ                        </h2>
                        <ul>
                            <li><a href="#">ГЛАВНАЯ</a></li>
                            <li><a href="#">О КОМПАНИИ</a></li>
                            <li><a href="#">УСЛУГИ</a></li>
                            <li><a href="#">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget address-widget">
                        <h2 class="widget-title">АДРЕС ОФИСА</h2>
                        <ul>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="addres">
                                    <p>118 Проспект Церетели</p>
                                    <p>Тбилиси, Грузия</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-phone"></i>
                                </div>
                                <div class="addres">
                                    <p>+995 592-70-60-70</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-envelope"></i>
                                </div>
                                <div class="addres">
                                    <p>info@portgate.ge</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget business-hour">
                        <h2 class="widget-title">РАБОЧЕЕ ВРЕМЯ</h2>
                        <p>Наша команда доступна 24 часа в сутки, семь дней в неделю.</p>
                        <ul>
                            <li>Пон-Пят:<span>с 9:00 до 17:00</span></li>
                            <li>Суббота:<span>с 10:00 до 14:00</span></li>
                            <li>Воскресенье:<span>закрыто</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of footer section -->
    <!-- start copyright section -->
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copryright">
                        <p> <a href="www.portgate.ge">© Portgate</a></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end of copyright section -->
