    <!-- start footer section -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">ABOUT PORTGATE</h2>
                        <p>Since 1999 PORTGATE carries out all kinds of international cargo transportation mainly in the Caucasus region, Central Asia and the CIS countries. The majority of the transportations are completed through the TRACECA corridor. </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h2 class="widget-title">QUICK LINK</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget address-widget">
                        <h2 class="widget-title">OFFICE ADDRESS</h2>
                        <ul>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="addres">
                                    <p>118 Tsereteli Avenue</p>
                                    <p>Tbilisi, Georgia</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-phone"></i>
                                </div>
                                <div class="addres">
                                    <p>+995 592-70-60-70</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-envelope"></i>
                                </div>
                                <div class="addres">
                                    <p>info@portgate.ge</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget business-hour">
                        <h2 class="widget-title">OFFICE HOUR</h2>
                        <p>Our support available to help you 24 hours a day, seven days a week.</p>
                        <ul>
                            <li>Monday-Friday: <span>9am to 5pm</span></li>
                            <li>Saturday: <span>10am to 2pm</span></li>
                            <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of footer section -->
    <!-- start copyright section -->
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copryright">
                        <p>© 2019 <a href="www.portgate.ge">Portgate</a>. All rights reserved.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end of copyright section -->
