<!-- start header section -->
<header id="header" class="header-area header-one">
      <div class="topbar-area justify-content-center">

            <div class="col-md-4 text-right">
                  <ul class="menu">
                  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                  {% for page in pages %}   <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a>  {% endfor %}
</ul>
    </div>
</div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-logo">
                        <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo.png" alt="{{site.title}}"></a>
                    </div>
                </div>
                <div class="col-md-8">
                  {% include navigation.html %}

                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header section -->
