    <section class="recent-work pagefour section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h3>WE OFFER</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row projectactive">
                <div class="col-md-6 col-lg-4 gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 engineering">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-2.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-3.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 industry gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-4.jpg" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 research">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-5.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature industry">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-6.jpg" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>