    <section class="recent-work pagefour section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h3>WE OFFER</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row projectactive">
                <div class="col-md-6 col-lg-4 gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/road"><img src="{{site.baseurl}}/assets/img/homeroad.png" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>Road Transporation</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/road">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 engineering">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/marine"><img src="{{site.baseurl}}/assets/img/homemarine.png" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>Marine Transportation</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/marine">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/rail"><img src="{{site.baseurl}}/assets/img/homerail.png" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>Rail Transporation</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/rail">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 industry gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/airl"><img src="{{site.baseurl}}/assets/img/homeair.png" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="{{site.baseurl}}/works/rail"><h4>Air Transporation</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/air">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 research">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/project"><img src="{{site.baseurl}}/assets/img/homeproject.png" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="{{site.baseurl}}/works/project"><h4>Project</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/project">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature industry">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="{{site.baseurl}}/works/other"><img src="{{site.baseurl}}/assets/img/homeother.png" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="{{site.baseurl}}/works/other"><h4>Other Services</h4></a>
                            <a class="read-more" href="{{site.baseurl}}/works/other">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>