<!-- start slider area -->
<section class="main-slider-area">
    <div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/sliders/7.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">We Open Gates <br> For YouR Goods</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Your Reliable Partner In International Transportations Since 1999 </h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="www.portgate.ge/contact" class="btn btn-default button-primary">Get A Quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of slider area -->
