---
layout: default
title: About Us
ref: about
lang: RU
---
{% include headerru.html %}

    <!-- values -->
<section class="experience-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="experience-content">
                        <h1>Ценности
                        </h1>
                        <div class="our-mission-list">
                            <ul>
                                <li><h6>Оперативная поддержка 24/7</h6>Оперативная поддержка 24/7  - мы предлагаем нашим клиентам круглосуточное обслуживание без выходных, за исключением государственных праздников. Кроме того, наши клиенты могут получить любые виды консультаций, а также информацию о своих имеющихся поставках.</li>
                                <li><h6>Опытная команда </h6>Наша команда имеет более чем 20-летний опыт работы в сфере перевозок, а также в логистике в различных отраслях.</li>
                                <li><h6>Самый широкий выбор транспортных средств </h6>Операционный отдел нашей компании имеет круглосуточный доступ к более чем 300 автомобилям. Лучший вариант будет предложен для удовлетворения конкретных требований наших клиентов.</li>
                                <li><h6>Оперативный ответ на заказы</h6>Среднее время установления тарифа составляет 12 часов, за исключением проектных грузов. Что касается железнодорожных и наземных перевозок, то для установления тарифа требуется в три раза меньше времени.</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-right">
                    <div class="single-image">
                            <pre></pre>
                            <pre></pre>
                            <pre></pre>
                            <pre></pre>
                            <pre></pre>
                            <pre></pre>
                            <pre></pre>
                        <img src="{{site.baseurl}}/assets/img/man.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story header-->
    <section class="quote-area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="quote-text">
                        <h4>Наша история начинается в 1999 году</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story -->
    <section class="experience-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="experience-content">
                        <div class="our-mission-list">
                     <p> Наша история начинается в 1999 году с основания компании «Транзит Иберия Транзит» («ТИТ») в городе Тбилиси, в Грузии. На протяжении последних двух десятилетий компания позиционирует себя как лидер в своей области в Кавказском регионе. Действуя в рамках транспортного коридора Европа-Кавказ-Азия (ТРАСЕКА), «ТИТ» стал известен как «ВОРОТА» в Центральную Азию.
                        На протяжении многих лет компании успешно удается сохранять статус надежного партнера по проектным перевозкам. Сеть доверенных партнеров и опытный персонал всегда были основными активами компании. С момента своего основания «ТИТ» значительно расширил свою глобальную партнерскую сеть. В дополнение к железнодорожным перевозкам компания  начала предлагать морские и воздушные перевозки.  С целью решения проблем развития бизнеса и удовлетворения потребностей рынка логистики в 21 веке, позже было принято решение создать дочернюю компанию. Таким образом, в 2018 году в Тбилиси была основана компания «PORTGATE». 
                        Сегодня PORTGATE осуществляет все виды международных грузоперевозок в основном в Кавказском регионе, Центральной Азии и странах СНГ. Большинство перевозок осуществляются через коридор ТРАСЕКА. Компании PORTGATE удалось значительно повысить эффективность и прибыльность, используя растущие темпы грузоперевозок в этом регионе.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="experience-content">
                        <div class="our-mission-list">
                     <p>"Главный офис компании PORTGATE находится в городе Тбилиси в Грузии. Имеются также офисы и в других городах, признанных транспортными узлами, таких как: Поти (Грузия), Черноморск (Украина) и Курык (Казахстан). К 2022 году планируется открыть новый офис и в Анаклии (Грузия). PORTGATE гордится своим постоянным партнерством со многими современными европейскими складами в Стамбуле (Турция), Праге (Чехия) и Штутгарте (Склад с температурным режимом в Германии).
                        PORTGATE владеет 4 авторефрижераторами, 1 автоцистерной и 2 стандартными прицепами. Более 300 автомобилей, принадлежащих подрядчикам, также находятся в распоряжении компании.
                        Команда PORTGATE служит связующим звеном между производителем и потребителем. Онa предлагает отличные комбинации транспортных услуг для любого вида товаров в любом месте. Мы стремимся понять потребности каждого отдельного клиента и предлагаем услуги, отвечающие требованиям и целям клиента. С PORTGATE вы можете выбрать именно то, что нужно вашей компании.
                        "
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footerru.html %}