---
layout: default
title: Services
ref: library
lang: RU
---
{% include headerru.html %}

<!-- start services section -->
<section class="services-area services-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/1.pdf" target="_blank">   <i class="icofont icofont-globe"></i>
                    </div>
                    <div class="content">
                        <h4>ИНКОТЕРМС</h4> </a>
                        <p>Инкотермс или Международные коммерческие условия представляют собой серию предварительно определенных коммерческих терминов, опубликованных Международной торговой палатой (ICC) и относящихся к международному коммерческому праву.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/2.pdf" target="_blank">         <i class="icofont icofont-truck"></i>
                    </div>
                    <div class="content">
                        <h4>Грузовые прицепы </h4></a>
                        <p>Это поможет вам определить качество и типы прицепов, которые необходимо перевозить груз</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/3.pdf" target="_blank">       <i class="icofont icofont-train-steam"></i>
                    </div>
                    <div class="content">
                        <h4>ТИПЫ ВАГОНОВ</h4></a>
                        <p>Это список всех типов транспортных средств, которые могут использоваться на железной дороге, либо специально для движения по рельсам, либо для технического обслуживания или содержания железной дороги.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/4.pdf" target="_blank">           <i class="icofont icofont-ship"></i>
                    </div>
                    <div class="content">
                        <h4>CКОНТЕЙНЕРНЫЕ ВИДЫ</h4></a>
                        <p>Контейнеры были настроены для удовлетворения потребностей экспортеров и импортеров в международной торговле. Получите размеры и вместимость стандартных транспортных контейнеров для ваших грузоперевозок. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/5.pdf" target="_blank">          <i class="icofont icofont-world"></i>
                    </div>
                    <div class="content">
                        <h4>Международные слова </h4></a>
                        <p>Транспортная отрасль имеет уникальный словарный запас. Глобальная команда управления логистикой должна быть знакома с этими условиями перевозки.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/6.pdf" target="_blank">          <i class="icofont icofont-file-document"></i>
                    </div>
                    <div class="content">
                        <h4>CMR</h4></a>
                        <p>Международное соглашение, которое содержит права и обязанности сторон, участвующих в автомобильных перевозках. «Международный транспортный договор по маршруту»</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/7.pdf" target="_blank">            <i class="icofont icofont-law-document"></i>
                    </div>
                    <div class="content">
                        <h4>AETR</h4></a>
                        <p>Правила Европейского соглашения о работе экипажей транспортных средств, участвующих в международных автомобильных перевозках (ЕСТР), в настоящее время соответствуют правилам ЕС, касающимся часов водителей.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/8.pdf" target="_blank">            <i class="icofont icofont-law-document"></i>
                    </div>
                    <div class="content">
                        <h4>ATP</h4></a>
                        <p> соглашение о международной перевозке скоропортящихся пищевых продуктов и о специальном оборудовании, которое будет использоваться для такой перевозки (АТП) </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/9.pdf" target="_blank">      <i class="icofont icofont-law-document"></i>
                    </div>
                    <div class="content">
                        <h4>CCC 1976 </h4></a>
                        <p>Таможенная конвенция о контейнерах 1972 года. Договаривающиеся стороны, желая развивать и облегчать международные перевозки в контейнерах, договорились о следующем </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-services">
                    <div class="icon">
                        <a href="{{site.baseurl}}/pdf/10.pdf" target="_blank">        <i class="icofont icofont-law-document"></i>
                    </div>
                    <div class="content">
                        <h4>UNECE </h4></a>
                        <p>Транспортные соглашения и конвенции ООН, генеральное соглашение об экономических правилах международных автомобильных перевозок от 17 марта 1954 года</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of services section -->
{% include footerru.html %}